{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static "layout.css" %}">
</head>
<body>
    <h1>This is an index page</h1>
    <h2>To add movie</h2>
    <a href="movies/addMovie">
        <button>Add Movie</button>
    </a>
    <h2>To view Movie</h2>
    <a href="movies/listMovie">
        <button>View Movie</button>
    </a>
</body>
</html>