body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

div {
    background-color: white;
    padding: 20px; 
    border-radius: 8px;
    width: 12%; 
    height: 40%;
    margin-top: 5%;
}

.button {
    background-color: blue;
    border-radius: 20%;
    box-shadow: inset;
    color: white;
}
